@font-face
{
    font-family :"IstokWeb";
    src: url('istok_web/istokweb-regular-webfont.eot');
    src: url('istok_web/istokweb-regular-webfont.eot?#iefix'),
         url('istok_web/istokweb-regular-webfont.ttf');
}
/*#banniere*/
/*{*/
    /*[>margin-top:-3em;<]*/
/*}*/
/*.barAdmin*/
/*{*/
    /*margin-top:3em;*/
/*}*/

body
{
    font-size :1em;
    font-family : "IstokWeb";
    /*background-color: #a5aabf;*/
    background-color :#fff;
}

a,p,li,
h1,h2,h3,h4,h5,h6
{
    font-family:"IstokWeb";
}
.courrier p:first-child:before
{
    content:url('../images/courrier.png');
    margin-right:5px;
    vertical-align:middle;
    position:relative;
}

.courrier
{

}

/*.phone*/


.phone p:before
{
    content: url('../images/phone.png');
    margin-right:5px;
    vertical-align:middle;
    position:relative;
}


/*.map*/


.article table
{
    margin-top:1em;
    margin-left:4em;
    width:62%;
}
.article h2
{
    font-size :1.5em;
}
.personne
{
    width:30%;
    display:inline-block;
    position:relative;
    height : auto;
}
.galerie-photo
{
    width:100%;
    /*padding-left:3em;*/
    /*margin-top:0.5em;*/
    position : relative;
    display: block;
    height:auto;
}
.galerie-photo figure
{
    width:40%;
    margin-left:3.5em;
    margin-top :1em;
    display:inline-block;
    position:relative;
}
.galerie-photo img
{
    display:inline-block;
    width:100%;
    position:relative;
}
.art-sscontent
{
    font-size : 0.8em;
    margin-top:0.5em;
    padding-left:1em;
}
.imgEquipe
{
    width : 80%;
    padding-left:1em;
    height:auto;
}


/*.article table tr*/


/*.article table tr td*/


/*.jour*/


/*.fermer*/

/*.article table tr:nth-child(even)*/


/*.article table tr:nth-child(odd)*/


/*.art-adresse*/


.form-email
{
    padding-left : 4em;
    margin-top : 2em;
    width : 70%;
    height : auto;
}

.form-email label,
.form-email input
{
    display: block;
}

.form-email label
{
    margin-bottom : 0.5em;
}

.form-email input
{
    height : 2.5em;
}

.form-email textarea
{
    height : 9em;
    font-size : 0.8em;
}
.admin-content input, .admin-content textarea,
.form-email input, .form-email textarea
{
    -moz-border-radius:0px 0 0 0px; 
    -webkit-border-radius:0px 0 0 0px; 
    border-radius:5px 5px 5px 5px; 
}
.form-email input[type=submit]
{
    margin-top : 1.5em;
    width : 100%;
    background-color:#2a4674;
    border-color:#2a4674;
    font-weight:bold;
    color:#e4f30c;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.form-email input[type=submit]:hover
{
    color: #0e9c07;    
}


#corps-border
{
    -webkit-border-radius:3px;
    background: url('../images/bg.png');
    /*background-color: #a5aabf;*/
    -moz-border-radius:3px;
    border-radius:3px;
    border :4px solid #656565;
    position :relative;
    margin-bottom:-20px;
    display :block;
    width : 100%;
    height : 100%;
}

#corps
{
    background: url('../images/transparent.png');
	box-shadow: 0px 0px 15px #000;
    /*margin-top:0.3em;*/
    margin-left:-1.0em;
    margin-right:-1.0em;
    height:100%;
}

footer
{
    position : relative;
    display:block;
    z-index:10;
    width : 100%;
    height: 4em;
    background: url("../images/bandeau_bot.png") repeat-x;
    background-size: 100% 100%;
    border-radius:0px 0px 5px 5px; 
}


#position
{
    width : 100%;
    font-size:0.9em;
    display:block;
    padding-left:2%;
    padding-top:0.3em;
    text-align:left;
    vertical-align:middle;
}


#position:before
{
    content:'>> ';
}

#div-pos
{
    display:block;
    width : 100%;
    margin-top:-1.20em;
    position:relative;
    background-color : #cdd3ed;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;   
    border-radius:5px 5px 0px 0px;
    height:1.6em;
    line-height : 1.6em;
    -moz-box-shadow: 0px 6px 8px 0px #656565;
    -webkit-box-shadow: 0px 6px 8px 0px #656565;
    -o-box-shadow: 0px 6px 8px 0px #656565;
    box-shadow: 0px 6px 8px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}


.main-titre
{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    text-align: center; 
    color:#2a4674!important;
    font-size:1.7em;
    margin-bottom:7%;
    margin-top:3%;
    /*background-color:#ffffc7;*/
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;   
    border-radius:5px 5px 5px 5px;
    -moz-box-shadow: 0px 6px 8px 0px #656565;
    -webkit-box-shadow: 0px 6px 8px 0px #656565;
    -o-box-shadow: 0px 6px 8px 0px #656565;
    box-shadow: 0px 6px 8px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}

#border,
.articles
{
    position :relative;
    display:inline-block;
}
#border
{
    position:relative;
    display:inline-block;
    margin-top:0.8em;
    float:right;
    border-right:none;
    margin-bottom:10em;
    margin-right:1em;
    width:29%;
    height:auto;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius :5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    -moz-box-shadow: 0px 6px 8px 2px #656565;
    -webkit-box-shadow: 0px 6px 8px 2px #656565;
    -o-box-shadow: 0px 6px 8px 2px #656565;
    box-shadow: 0px 6px 8px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
    background-color:#444b50;
    /*background: #2b88d9; [> Old browsers <]
    background: -moz-linear-gradient(45deg, #2b88d9 0%, #207cca 0%, #7db9e8 39%, #207cca 100%); [> FF3.6+ <]
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2b88d9), color-stop(0%,#207cca), color-stop(39%,#7db9e8), color-stop(100%,#207cca)); [> Chrome,Safari4+ <]
    background: -webkit-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> Chrome10+,Safari5.1+ <]
    background: -o-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> Opera 11.10+ <]
    background: -ms-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> IE10+ <]
    background: linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> W3C <]
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#207cca',GradientType=1 ); [> IE6-9 fallback on horizontal gradient background: #2b88d9; /* Old browsers <]*/
   /* background: -moz-linear-gradient(45deg, #2b88d9 0%, #207cca 0%, #7db9e8 39%, #207cca 100%); [> FF3.6+ <]
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2b88d9), color-stop(0%,#207cca), color-stop(39%,#7db9e8), color-stop(100%,#207cca)); [> Chrome,Safari4+ <]
    background: -webkit-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> Chrome10+,Safari5.1+ <]
    background: -o-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> Opera 11.10+ <]
    background: -ms-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> IE10+ <]
    background: linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); [> W3C <]
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#207cca',GradientType=1 ); [> IE6-9 fallback on horizontal gradient <]*/
}

.marge
{
    margin-top:2em;
    
}

.articles
{
    float:left;
    /*margin-top:5em;*/
    margin-bottom:6em;
    margin-left :0.9em;
    margin-right:0.2em;
    width:67%;
}

.promotion a
{
    display:block;
    font-size : 0.8em;
    padding-left:1em;
    padding-bottom:1em;
}

.promo-content
{
	font-size:1em;
    padding-left:12%;
    padding-right : 9%;
    color:red;
    text-align:justify;

}
.promotion
{
    top :-0.1em;
    position : relative;
    width : 100%;
    height : auto;
    border:1px solid black;
    border-left:none;
    border-right:none;
}
.promo-titre
{
    margin-top: 1em;
    border-top : 1px solid black;
    border-bottom : 1px solid black;
    background-color: #2a4674;
    height : 3.7em;
}
.promo-background
{
    background-color:#faf7db;
    width:100%;
    height:auto;
    margin-top:-0.3em;
    top:-0.1em;
}

.promotion:first-child .promo-titre
{
    border-top:none;
    padding-top : 1%;
    margin-top:0;
}
.promo-date h2
{
    line-height : 2em;
    font-size:1.2em;
    text-align:center;

}
.border-left
{
    display:block;
    border-left : 2px solid black;
}
.promotions,
.slide
{
    display:inline-block;
    position:relative;
    float:right;
    width:100%;
}
.promotions
{
    margin-bottom : 2em;

}
.promo-titre h2
{
    text-align:center!important;
    font-size:1.5em;
    line-height : 2em;
    color: #e4f30c;
}
.art-titre
{
    position:relative;
    display:block;
    width:75%;
    top:0.5em;
    background-color:#2a4674;
    height:2.3em;
    -moz-box-shadow: 0px 6px 8px 0px #656565;
    -webkit-box-shadow: 0px 6px 8px 0px #656565;
    -o-box-shadow: 0px 6px 8px 0px #656565;
    box-shadow: 0px 6px 8px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}


.art-titre h1 
{
    position:relative;
    display:block;
    margin-left:0.5em;
    width:100%;
    font-size:1.4em;
    color: #e4f30c;
    height:2.8em;
    padding-top:0.2em;
}

.triangle-bot
{
    width:1.0em;
    height:1.1em;
    position:absolute;
    left:75.0%;
    top:0.5em;
    border-left:1.0em solid #2a4674;
    border-top:1.1em solid transparent;

}
.triangle-top
{
    width:1.0em;
    height:1.2em;
    position:absolute;
    left:75.0%;
    top:1.60em;
    border-left:1.0em solid #2a4674;
    border-bottom:1.2em solid transparent;
}

.art-content
{
    width:80%;
    margin-left:2em;
    margin-top:2em;
}


.art-content p
{
    text-align:justify;
    margin-bottom:0em;
}

.article:first-child
{
    margin-top:0;
}

.article
{
    position:relative;
    margin-top:-0.4em;
    padding-bottom:1em;
    margin-bottom:1.5em;
    margin-left:0.1em;
    margin-right:0.3em;
    background-color: #faf7db;
    width:100%;
    height:auto;
    -webkit-border-radius:0px 4px 4px 0px;
    -moz-border-radius:0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    -moz-box-shadow: 6px 6px 8px 0px #656565;
    -webkit-box-shadow: 6px 6px 8px 0px #656565;
    -o-box-shadow: 6px 6px 8px 0px #656565;
    box-shadow: 6px 6px 8px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}

.literie-menu,
.literie-menu ul,
.literie-menu li,
.literie-menu a
{
    margin:0;
    padding:0;
    border:none;
    outline:none;
}

.slide
{
    float:right;
    top:-1.0em;
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;   
    border-radius:5px 0px 0px 0px;
}

.literie-menu
{
    position : relative;
    float:left;
    width:89.8%;
    margin-top: 0;
    background-color: #2a4674;
    -webkit-border-radius: 0px 0px 0px 5px;
    -moz-border-radius: 0px 0px 0px 5px;   
    border-radius:0px 0px 0px 5px;
    -moz-box-shadow: 0px 6px 8px 2px #656565;
    -webkit-box-shadow: 0px 6px 8px 2px #656565;
    -o-box-shadow: 0px 6px 8px 2px #656565;
    box-shadow: 0px 6px 8px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}

.literie-menu li
{
    position: relative;
    list-style : none;
    float : left;
    display: block;
    height: 2.5em;
    width:9em;
}


.literie-menu li a
{
    display:block;
    padding:0 0.6em;
    margin: 0.4em 0;
    text-align: center;
    line-height: 1.5em;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-size: 1em;
    color: #e4f30c;
    text-shadow: 1px 1px 1px rgba(0,0,0, .6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}


.literie-menu li:first-child a{border-left:none;}
.literie-menu li:last-child a {border-right: none;}

.literie-menu li:hover > a {color:#0e9c07;}

.literie-menu ul
{
    z-index:11;
    position: absolute;
    top: 2.5em;
    left:0;
    opacity:0;
    background: #2a4674;
    -webkit-transition:opacity .25s ease .1s;
    -moz-transition:opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25 ease .1s;
    transition: opacity .25s ease .1s;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius:0 0 5px 5px;
}


.literie-menu li:hover > ul {opacity:1;}

.literie-menu ul li
{
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition:height .25s ease .1s;
    -moz-transition:height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25 ease .1s;
    transition: height .25s ease .1s;
}


.literie-menu li:hover > ul li
{
    height: 2.0em;
    width:10em;
    overflow: visible;
    padding:0;
}


.literie-menu ul li a
{
    text-align : left;
    width: 100%;
    padding: 2px 0 2px 1.4em;
    margin:0;
    border : none;
    border-bottom: 1px solid #353539;
}

.social-menu,
.literie-menu
{
    display: inline-block;
    position: relative;
    height :2.5em;
    top:-0.05em;
    z-index : 10;
}
.social-menu li
{
    display:inline-block;
    position : relative;
    width : 40%;
    line-height : 2.5em;
    list-style : none;
    /*margin-left:-0.5em;*/
}
.social-menu
{
    float:right;
    /*margin-left:-3em;*/
    width:10%;
    background-color:#fff;
    -webkit-border-radius: 0px 0px 5px 0px;
    -moz-border-radius: 0px 0px 5px 0px;   
    border-radius:0px 0px 5px 0px;
    -moz-box-shadow: 0px 6px 8px 2px #656565;
    -webkit-box-shadow: 0px 6px 8px 2px #656565;
    -o-box-shadow: 0px 6px 8px 2px #656565;
    box-shadow: 0px 6px 8px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}
.social-menu li figure
{
    height: auto;
    width :100%;
    vertical-align:middle;
    margin-left:0.5em;
    
}
.google-plus a img,
.facebook a img
{
    width:2em;
    margin-top:-0.1em;
}
.google-plus a img:hover,
.facebook a img:hover
{
    width:2.5em;
}

#banniere
{
    width: 100%;
    height : 8em;
    line-height:8em;
    border-bottom:0.5px solid black;
    display : block;
    position : relative;
    background: #2b88d9; /* Old browsers */
    background: -moz-linear-gradient(45deg, #2b88d9 0%, #207cca 0%, #7db9e8 39%, #207cca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2b88d9), color-stop(0%,#207cca), color-stop(39%,#7db9e8), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* IE10+ */
    background: linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */background: #2b88d9; /* Old browsers */
    background: -moz-linear-gradient(45deg, #2b88d9 0%, #207cca 0%, #7db9e8 39%, #207cca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2b88d9), color-stop(0%,#207cca), color-stop(39%,#7db9e8), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* IE10+ */
    background: linear-gradient(45deg, #2b88d9 0%,#207cca 0%,#7db9e8 39%,#207cca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.border-radius-perso-right
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: -6px 6px 8px 0px #656565;
    -webkit-box-shadow: -6px 6px 8px 0px #656565;
    -o-box-shadow: -6px 6px 8px 0px #656565;
    box-shadow: -6px 6px 8px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);

}
.border-radius-perso
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 6px 6px 8px 0px #656565;
    -webkit-box-shadow: 6px 6px 8px 0px #656565;
    -o-box-shadow: 6px 6px 8px 0px #656565;
    box-shadow: 6px 6px 8px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=8);
}
.message
{
    position : absolute;
    display: inline-block;
    /*margin-left:4em;*/
    height:2em;
    width : 50%;
    /*font-size : 1.8em;*/
    color:#2a4674;
    font-weight:italic;
}
.message section
{
    position : absolute;
    display:block;
    width:100%;
    height : 2em;
    font-size : 1.8em;
    display: block;
    padding-left:3.5em;
}
.message section:first-child
{
    top:-0.8em;
    /*margin-bottom:0.7em;*/
}
.message section:last-child
{
    bottom:-1.5em;
    left:3em;
    /*margin-left:2em;*/
    /*margin-top:0.7em;*/
    /*top:2em;*/
    /*margin-bottom:-0.8em;*/
}

#logoRight,
#logo
{
    position : relative;
    display:inline-block;
    width :25%;
    height:5em;
    margin-top : -0.5em;
    vertical-align:middle;
    /*border : 1px solid black;*/
}
#logo
{
    margin-left:-1em;
}

#logoRight img,
#logo img
{
    margin-top:-3.1em;
    width:90%;
    height :4.5em;
    margin-left : 0.6em;
    margin-right: auto;
}
#logoRight
{
    float:right;
    top:1.8em;
    /*margin-right:1em;*/
}
.marques
{
    position:relative;
    margin-top : 1em;
    width : 90%;
    padding-left:2em;
    height :auto;
}

.marque
{
    width:100%;
    height:950px;
    color:#474747;
    background:#414141;
    padding:0.4em;
}

.marque section
{
    float:left;
    overflow:hidden;
    color:#333;
    cursor:pointer;
    background:#333;
    margin:1.5px;
}
.marque section h3 a
{
    font-size : 0.8em;
    vertical-align:middle;
    padding-left:0.5em;
    padding-top:0.8em;
    color: #e4f30c;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.marque section:hover
{
    background:#444;
}

.marque section h3 a:hover
{
    color:#0e9c07;
}

.marque section section
{
    display:none;
}

.marque section:target
{
    background:#fff;
}

.marque section:target:hover
{
    background:#fff;
}

.marque section:target h3
{
    border-bottom:2px solid #333;
    padding:0.5em;
    width:100%;
}
.marque section:target h3 a
{
    color:#0e9c07;
    margin-top:-1.0em;
    display:block;
    height:auto;
    width:100%;
}
.marque section:target section
{
    display:block;
    width:98.5%;
    margin-bottom:-4%;
    margin-top:-1%;
    background:#fff;
}
.marque-content
{
    position : relative;
    font-size : 1em;
    margin-top : 0.5em;
    font-size : 0.8em;
    margin-bottom : 0.2em;
    padding-left : 0.8em;
    text-align : justify;
    padding-right: 0.8em;
    color : black;
}
.marque-content p
{
    display : inline-block;
}
.marque-link
{
    padding-right:0.8em;
    float : right;
}
.marque-img
{
    width : 20%;
    height:15%;
    position : relative;
}
.marque-img img
{
    min-height: 3em;
    max-height: 3em;
    margin-bottom : 0.5em;
    width:auto;
    max-width:10em;
    padding-left : 1.0em;
    float :left;
    position :relative;
    height : auto;
}
.vertical img
{
    display:none;
}

.vertical section
{
    width:100%;
    -webkit-transition:height 0.2s ease-out;
    -moz-transition:height 0.2s ease-out;
    -o-transition:height 0.2s ease-out;
    transition:height 0.2s ease-out;
}
.vertical :target
{
    height:400px;
    width:97%;
}
.vertical section h3 
{
    display : block;
    width : 100%;
    line-height : 0.5em;
    vertical-align: middle;
    padding-left: 2%;
}
.vertical section h3 a
{
    width:100%;
    height:0.4em;
    vertical-align: middle;
}
.vertical section:after
{
    top:10px;
    left:810px;
}
.vertical section:target:after
{
    left:-9999px;
}

.vertical :target h3
{
    top : -0em;
}
.vertical :target img 
{ 
    display :inline-block;
    float:left;
}

.bandeau-pub
{
    width:100%;
    height:8em;
    margin-bottom:-0.8em;
    background-color:#444b50;
    border-bottom :4px solid #444b50;
    -moz-box-shadow: 6px 6px 8px 0px #656565;
    -webkit-box-shadow: 6px 6px 8px 0px #656565;
    -o-box-shadow: 6px 6px 8px 0px #656565;
    box-shadow: 6px 6px 8px 0px #656565;
}

.bandeau-pub figure
{
    width:30%;
    height:100%;
    display:inline-block;
    position:relative;
    float:left;
    margin-left:0.3em;
}
.bandeau-pub figure:first-child
{
    margin-left:0.01em;
}
.bandeau-pub figure img
{
    width:100%;
    height:100%;
}



@media screen and (max-width:780px)
{
body
{
    font-size :0.6em;
}
.literie-menu
{
    width:105.5%;
    margin-left : -1em;
    height :3.5em;
}
#border
{
    width:35%;
    left:-0em;
}
.articles
{
    width:57%;
}
.bandeau-pub
{
    height : 5em;
}
.futurico-theme .nivoSlider
{
    width:107.9%;
    left:-0.5em;
}
.slide
{
    /*width : 90%;*/
}
.promo-titre h2,
.art-titre h1
{
    font-size : 1em;
}

.art-titre h1
{
    padding-top:0.4em;
}
.article table
{
    margin-left:2em;
    width:82%;
}
.futurico-theme .nivoSlider img
{
    /*height : 2em;*/
    /*width:100%;*/
    width:auto;
    min-height : 68px;
    max-height:68px;
    top:0;
    left:0;
}
#div-pos
{
    margin-top:0em;
}
.marque
{
    height : 700px;
}
#corps
{
    overflow:hidden;
}
.map embed iframe
{
    height:50px;
}
.promo-date h2
{
    font-size : 0.8em;
}
.promo-titre
{
    height:3em;
}
.promo-content
{
    font-size :0.7em;
}
.article h2
{
    font-size :0.8em;
}
.form-email
{
    padding-left : 2em;
    margin-top : 2em;
    width : 80%;
    height : auto;
}
.art-sscontent
{
    font-size :0.6em;
    text-align :left;
}
.personne
{
    width : 40%;
}
html
{
    height:100%;
}
.literie-menu li
{
    height : 3.5em;
}
.literie-menu li a
{
    line-height :2.5em;
}
.triangle-bot
{

    height:1.2em;
    top:0.5em;
    border-top:1.2em solid transparent;
}

}

@media screen and (max-width:780px) and ( orientation : landscape)
{
.literie-menu
{
    width :103%;
}
.map embed iframe
{
    height:100px;
}
.promo-date h2
{
    font-size : 1.1em;
}
.promo-titre
{
    height:3em;
    margin-top:0.5em;
}
.promo-content
{
    font-size :0.8em;
}
.article h2
{
    font-size :0.9em;
}
.bandeau-pub
{
    height : 7em;
}
.promo-titre h2,
.art-titre h1
{
    font-size : 1.2em;
}
.articles
{
    width :59%;
}

.art-titre h1
{
    padding-top:0.3em;
}
.futurico-theme .nivoSlider img
{
    /*height : 2em;*/
    /*width:100%;*/
    width:auto;
    min-height : 98;
    max-height:98px;
    top:0;
    left:0;
}
.vertical :target
{
    height:300px;
}
.marque section:target section
{
    height:300px;
}
.art-sscontent
{
    font-size : 0.9em;
}
.galerie-photo figure
{
    margin-left :1.5em;
}

}

