{% extends 'EuroLiteriestructureBundle:Main:layout.html.twig' %}
{%block body%}
    <div class="articles small-7 columns">
        {%for article in articles%}
            <article class="article">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <article class="art-titre"><h1>{{article.artTitle}}</h1></article>
                <article class="triangle-top"></article>
                <article class="triangle-bot"></article>
                <section class="art-content">{{article.artContent | raw }}</section>
            </article>
        {%endfor%}
    </div>
{%endblock%}
