<div class="menuI">
    <section class="btn-menuI">
        <li>Rechercher</li>
    </section>
    <section class="btn-menuI">
        <li>Ajouter</li>
    </section>
    <section class="btn-menuI">
        <li>Atteindre la page</li>
    </section>
</div>
<div class="contentI">
</div>
