<div class="row barAdmin ">
    <div class="small-12 columns tool-container gradient ">
        <article class="visite">
            <h4>Visites :</h4>
            <section>
                <ul>
                    <li>Nombre total de visite : {{visite.total}}</li>
                    <li>Nombre de visite du mois : {{ visite.mois}}</li>
                </ul>
            </section>
        </article>
        <article class="gestion">
            <h4>Gestion :</h4>
            <div>
                <section id="pagesAdmin" class="sectionAdmin">
                    <ul>
                        <li>Mots-clés</li>
                    </ul>
                </section>
                <section class="sectionAdmin" id="marquesAdmin">
                    <ul>
                        <li>Marques</li>
                    </ul>
                </section>
                <section id="promotionsAdmin" class="sectionAdmin">
                    <ul>
                        <li>Promotions</li>
                    </ul>
                </section>
                <section id="sliderAdmin" class="sectionAdmin">
                    <ul>
                        <li>Slider</li>
                    </ul>
                </section>
                <section id="equipeAdmin" class="sectionAdmin">
                    <ul>
                        <li>Equipe</li>
                    </ul>
                </section>
                <section id="magasinAdmin" class="sectionAdmin">
                    <ul>
                        <li>Magasin</li>
                    </ul>
                </section>
            </div>
        </article>
    </div>
</div>
