{% extends 'EuroLiteriestructureBundle:Main:layout.html.twig' %}
{%block body%}
<div class="article">Ici je pensais faire juste une galerie avec des quelques photos !!</div><br /><br /><br /><br />
{%endblock%}
