
<div class="equipe admin-c border">
    <input type="hidden" name="id" value="%artId%">
    <section>
        <article class="adminEquipe">
            <label>Poste :</label><input type="text" name="artTitle" value="%artTitle%">
            <label>Nom :</label><input type="text" name="artContent" value="%artContent%" />
        </article>
        <article class="adminEquipeLogo">
            <label>Logo :</label><figure class="adminEquipePhoto"><img src="../bundles/euroliteriestructure/images/galerie/equipe/%pngUrl%"></img></figure>
            <section class="btn-logo modif">
                <li>Modifier</li>
            </section>
        </article>
    </section>
    <section class="btn-adminPanel">
        <article class="btn-admin maj">
            <li>Mettre à jour</li>
        </article>
        <article class="btn-admin sup">
            <li>Supprimer</li>
        </article>
    </section>
</div>
