<div class="menuI">
    <section class="btn-menuI att-btn"> 
        <li>Recharger</li>
    </section>
</div>
<div class="contentI">
    <article class="adminTitre">
        <h2>Administration des mots-clés</h2>
    </article>
</div>
