<div class="menuI">
    <section class="btn-menuI att-btn">
        <li>Atteindre la page</li>
    </section>
</div>
<div class="contentI">
    <article class="adminTitre">
        <h2>Administration du slider</h2>
    </article>
</div>
