<div class="menuI">
    <section class="btn-menuI">
        <li>Rechercher</li>
    </section>
    <section class="btn-menuI add-btn">
        <li>Ajouter</li>
    </section>
    <section class="btn-menuI att-btn">
        <li>Atteindre la page</li>
    </section>
    <section class="btn-menuI tri"> 
        <li>Tri</li>
    </section>
</div>
<div class="contentI">
    <article class="adminTitre">
        <h2>Administration des membres de l'équipe</h2>
    </article>
</div>
